<!-- 選択した一つを大きく、下におすすめ -->
{% extends 'base.html' %}

{% block main %}

<div class="container">
  {% comment %}
  <div class="row my-5">
    <div class="col-12 col-lg-6">
      <div class="bg-white border overflow-hidden">
        <img src="https://storage.googleapis.com/selflove/{{ object.image }}" width="100%">
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="border p-3 text-left text-dark overflow-hidden">
        <h2 class="display-5">{{object.name}}</h2>
        <p class="lead">
          <a href="/categories/{{object.category.slug}}/" class="badge badge-pill badge-warning">
            {{object.category.name}}
          </a>
          {% for tag in object.tags.all %}
          <a href="/tags/{{tag.slug}}/" class="badge badge-pill badge-light">
            #{{tag}}
          </a>
          {% endfor %}
        </p>
        <p class="lead">残り{{object.stock}}個
        </p>
        <p class="lead">¥{{object.price}}（税別）</p>
        <p class="lead">{{object.description}}</p>
        <form action="/cart/add/" method="POST" class="">
          {% csrf_token %}
          <input type="hidden" name="item_pk" value="{{object.pk}}">
          <p>
            <input type="number" class="form-control d-inline w-25"
              name="quantity" value="1" max="{{object.stock}}"> 点
          </p>
          <p>
            {% if object.stock == 0 %}
            <button type="submit" class="btn btn-warning" disabled>
              売り切れ
            </button>
            {% else %}
            <button type="submit" class="btn btn-success">
              Add to cart
            </button>
            {% endif %}
          </p>
        </form>
      </div>
    </div>
  </div>
  {% endcomment %}


  <div class="card">
    <div class="row">
      <div class="card-image col s12 m6">
          <img src="https://storage.googleapis.com/selflove/{{ object.image }}" width="100%">
      </div>
      <div class="card-content col s12 m6">
        <table>
          <div>
            <div class="chip">
              <a href="/categories/{{object.category.slug}}/" class="badge badge-pill badge-warning">
                {{object.category.name}}
              </a>
            </div>
            {% for tag in object.tags.all %}
            <div class="chip">
              <a href="/tags/{{tag.slug}}/" class="badge badge-pill badge-light">
                {{tag}}
              </a>
            </div>
            {% endfor %}
          </div>
          <div>{{object.name}}</div>
          <div class="row"><p class="right">残り{{object.stock}}個  </p></div>
          <div class="row"><p class="right">¥{{object.price}}（税別）</p></div>
          <div>{{object.description}}</div>
          <form action="/cart/add/" method="POST" class="">
            {% csrf_token %}
            <input type="hidden" name="item_pk" value="{{object.pk}}">
            <div class="row" style="align-items: center;">
              <p class="col" >数量：</p>
              <p class="col" >
                <input type="number"
                  name="quantity" value="1" max="{{object.stock}}" style="text-align: right">
              </p>
            </div>
            <div>
              {% if object.stock == 0 %}
              <button type="submit" class="waves-effect waves-light btn right" disabled><i class="material-icons left">remove_shopping_cart</i>売り切れ</button>
              {% else %}
              <button type="submit" class="waves-effect waves-light btn right"><i class="material-icons left">shopping_cart</i>カートに入れる</button>
              {% endif %}
            </div>
          </form>
        </table>
      </div>
    </div>
  </div>


  <h4>おすすめ</h4>
  <div class="row">
    <!-- config/custom_context_processors.py -->
    <!-- 'ADDTIONAL_ITEMS': items, -->
    {% for object in ADDTIONAL_ITEMS %}
    <div class="col s12 m3">
      {% include 'snippets/item_add_box.html' %}
    </div>
    {% endfor %}
  </div>


</div>
{% endblock %}