<footer class="page-footer  blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>{{ TITLE }}</h5>
        <p class="grey-text text-lighten-4">text text text text text text text text text text .</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a href="#!"><i class="fab fa-twitter-square fa-2x"></i></a></li>
          <li><a href="#!"><i class="fab fa-instagram fa-2x"></i></a></li>
          <li><a href="#!"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
    © 2021 Copyright
    </div>
  </div>
</footer>