<div>
  <nav class="blue darken-4">
    <div class="container">
      <a href="/" class="brand-logo">{{ TITLE }}</a>
      {# <a href="#" class="brand-logo"><i class="material-icons">cloud</i>{{ TITLE }}</a> #}
      <ul class="right hide-on-med-and-down">
        {% if user.is_superuser %}
        <li><a href="/admin/">管理者画面へ</a></li>
        {% endif %}
        <li><a href="/orders/">Orders</a></li>
        <li><a href="/profile/">Profile</a></li>
        <li><a href="/account/">Account</a></li>
        <li><a href="/cart/">Cart</a></li>
        {% if user.is_authenticated %}
        <li><a href="/logout/">Logout</a></li>
        {% else %}
        <li><a href="/login/">Login</a></li>
        <li><a href="/signup/">SignUp</a></li>
        {% endif %}

      </ul>
    </div>
  </nav>
</div>