<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h1>Information</h1>
      <table>
        <tbody>
          <tr>
            <td>店舗名</td>
            <td>セルフラブ(self love)</td>
          </tr>
          <tr>
            <td>住所</td>
            <td>佐賀県佐賀市愛敬町１３－２　２Ｆ</td>
          </tr>
          <tr>
            <td>最寄り駅</td>
            <td>佐賀駅から徒歩5分</td>
          </tr>
          <tr>
            <td>営業時間</td>
            <td>11：00～21:00(最終受付19:30)</td>
          </tr>
          <tr>
            <td>定休日</td>
            <td>不定休</td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td>VISA／MasterCard／JCB／American Express／Diners／Discover</td>
          </tr>
          <tr>
            <td>こだわり条件</td>
            <td>駐車場あり、キッズスペースあり、女性スタッフ、カードOK</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3336.1714593168813!2d130.2983994506691!3d33.2620032807342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541cbbbf9192e21%3A0x4a42d56452a4416e!2zU2VsZiBsb3Zl5L2Q6LOA!5e0!3m2!1sja!2sjp!4v1640673780529!5m2!1sja!2sjp" class="col s12 m8 offset-m2" frameborder="0" style="border:0; height:450px;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>