{% load static %}

<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <h1> Massage</h1>

      <div class="row">
        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'items/top/menu1.jpg'%}">
            </div>
            <div class="card-content">
              <p>こだわりのアロマオイルでゆったりリラックス…☆</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'items/top/menu2.jpg'%}">
            </div>
            <div class="card-content">
              <p>頭の先から足の先まで丁寧にほぐしていきます♪</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'items/top/menu3.jpg'%}">
            </div>
            <div class="card-content">
              <p>施術後はドリンクサービス付☆プライベート空間でお寛ぎ下さい♪</p>
            </div>
          </div>
        </div>
      </div>





      <div style="text-align: center;">
        <button class="btn waves-effect waves-light" type="submit" name="action"><a href="/menu/">
          <i class="material-icons right">menu</i>メニューを見る</a>
        </button>
      </div>

    </div>
  </div>
</div>