<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <h1> Menu</h1>
      <table>
        <tbody>
          <tr>
            <td>アロマリンパ</td>
            <td class="right">70分</td>
            <td class="right">¥6,300</td>
            <td>アロマの香りに癒されながら全身リラックス☆</td>
          </tr>
          <tr>
            <td>アロマリンパ</td>
            <td class="right">90分</td>
            <td class="right">¥7,650</td>
            <td>全身+お疲れ箇所をさらに重点的にほぐします☆</td>
          </tr>
          <tr>
            <td>アロマリンパ</td>
            <td class="right">120分</td>
            <td class="right">¥10,200</td>
            <td>凝り固まった体の疲労をなんとかしたい方へオススメ◎</td>
          </tr>
          <tr>
            <td>アロマリンパ＋もみほぐし</td>
            <td class="right">90分</td>
            <td class="right">¥7,350</td>
            <td>人気コース♪<br>お疲れの箇所をほぐしてからアロマオイルで全身のリンパを流して行きます★</td>
          </tr>
          <tr>
            <td>アロマリンパ＋腸セラピー</td>
            <td class="right">100分</td>
            <td class="right">¥8,650</td>
            <td>腸もみで便秘解消！肌荒れ・不眠の改善・むくみにお悩みの方にオススメ◎</td>
          </tr>
          <tr>
            <td>アロマリンパ＋小顔フェイシャル</td>
            <td class="right">100分</td>
            <td class="right">¥9,300</td>
            <td>全身のコリ、むくみをスッキリ☆美肌引き締め＋小顔コース♪</td>
          </tr>
          <tr>
            <td>アロマリンパ＋小顔フェイシャル＋ヘッド</td>
            <td class="right">130分</td>
            <td class="right">¥12,500</td>
            <td>お疲れ箇所は重点的にコリ、むくみをケア◎<br>全身温めながらリンパを流します。小顔フェイスコースは保湿パック付き★</td>
          </tr>
          <tr>
            <td>【メンズ】<br>アロマリンパ</td>
            <td class="right">90分</td>
            <td class="right">¥9,000</td>
            <td>※男性の方はこちらから。<br>全身+お疲れ箇所をさらに重点的にほぐします☆</td>
          </tr>
          <tr>
            <td>【メンズ】<br>アロマリンパ</td>
            <td class="right">120分</td>
            <td class="right">¥12,000</td>
            <td>※男性の方はこちらから。<br>凝り固まった体の疲労をなんとかしたい方へオススメ◎</td>
          </tr>
          <tr>
            <td>全身もみほぐし</td>
            <td class="right">60分</td>
            <td class="right">¥4,500</td>
            <td>全身のコリをほぐします♪<br>男性もこちらからご予約いただけます♪</td>
          </tr>
          <tr>
            <td>もみほぐし</td>
            <td class="right">90分</td>
            <td class="right">¥6,700</td>
            <td>全身+お疲れ箇所をさらに重点的にほぐします☆<br>男性もこちらからご予約いただけます♪</td>
          </tr>
          <tr>
            <td>【オプション】<br>ヘッド</td>
            <td class="right">10分</td>
            <td class="right">¥1,000</td>
            <td>頭皮をしっかりとほぐします。<br>デスクワークの方や眼精疲労が気になる方にオススメ☆<br>※オイルリンパorもみほぐしと一緒にご予約下さい。</td>
          </tr>
          <tr>
            <td>ヘッド</td>
            <td class="right">20分</td>
            <td class="right">¥2,400</td>
            <td>頭皮をしっかりとほぐします。<br>デスクワークの方や眼精疲労が気になる方にオススメ☆</td>
          </tr>
          <tr>
            <td>【セットコース】<br>ヘッド＋フェイス</td>
            <td class="right">40分</td>
            <td class="right">¥4,400</td>
            <td>頭痛、眼精疲労、顔のむくみ、くすみをスッキリ♪<br>クリームやオイルを使わないので仕事の合間、空き時間でもご利用頂けます☆</td>
          </tr>
          <tr>
            <td>【オプション】<br>フェイスリンパ</td>
            <td class="right">20分</td>
            <td class="right">¥2,000</td>
            <td>小顔リンパ☆むくみやくすみが気になる方にオススメ♪<br>※オイルリンパorもみほぐしと一緒にご予約下さい。</td>
          </tr>
        </tbody>
      </table>
      <p style="text-align: center; font-size: 1.5rem;">お問合せ・ご予約</p>
      <button class="btn waves-effect waves-light" type="submit" name="action">
        <i class="material-icons right">email</i>メールを送る
      </button>
    </div>
  </div>
</div>