<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ TITLE }}</title>

  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- Material -->
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <style>
  /* footerを下に固定 */
  body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .parallax-container {
    height: 600px;
  }

  /* リンクの色が別の色にさせない */
  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
  }

  /* ページネーションのアクティブ時の背景色をうすい青にに変える */
  .pagination li.active {
    background-color: #58A9EF;
  }

  </style>

</head>

<body>
  {% load static %}

  <header style="position: fixed; width: 100vw; z-index: 99;">
    {% block header %}
    {% include 'snippets/header.html' %}
    {% include 'snippets/messages.html' %}
    {% endblock %}
  </header>

  <main style="margin-top: 80px;">
    {% block main %}
    {% endblock %}
  </main>

  <footer>
    {% block footer %}
    {% include 'snippets/footer.html' %}
    {% endblock %}
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
      const para = document.querySelectorAll('.parallax');
      M.Parallax.init(para,{});
  </script>

</body>
</html>
